:host {
    width: fit-content;
}

:host.full-width {
    width: 100%;
}

:host.full-width .container {
    width: 100%;
    justify-content: center;
}

.container {
    cursor: pointer;
    background-color: var(--background200);
    padding: var(--padding-small);
    box-sizing: border-box;
    border-radius: 5px;
    height: 35px;
    width: fit-content;
    color: var(--grey100);

    display: flex;
    align-items: center;

    &:hover {
        background-color: var(--background300);
    }
}