.container {
    cursor: pointer;
    background-color: var(--background200);
    padding: var(--padding-small);
    padding-block: 8px;
    box-sizing: border-box;
    border-radius: 5px;

    &:hover {
        background-color: var(--background300);
    }
}