:host.full-width {
    width: 100%;
}

:host.full-width .container {
    width: 100%;
    justify-content: center;
}

.container {
    width: fit-content;
    height: 35px;
    border-radius: 5px;

    padding: var(--padding-small);
    box-sizing: border-box;
    
    cursor: pointer;
    color: var(--grey100);
    background-color: var(--background200);
    
    display: flex;
    align-items: center;

    transition: all 0.15s ease-in-out;

    &:hover {
        background-color: var(--background300);
    }
}

.active {
    background-color: var(--background300);
    cursor: default;
    color: white !important;
}