.container {
    cursor: pointer;

    &:hover {
        .thumbnail {
            filter: brightness(1.1);
        }
    }
}

.thumbnail {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 5px;

    transition: all 0.2s ease-in-out;
}

.infos {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    text-transform: uppercase;

    .id {
        color: var(--grey100);
    }
}