:host {
    display: flex;
    min-width: 250px;
    width: 250px;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
    background-color: var(--background100);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.section {
    display: flex;
    flex-direction: column;
    gap: var(--padding-small);

    padding: var(--padding-medium);
    box-sizing: border-box;
}

.h-separator {
    width: 100%;
    height: 1px;
    background-color: var(--background200);
}

.flex {
    display: flex;
    justify-content: space-between;
}

.experiments {
    display: flex;
    flex-direction: column;
    gap: var(--padding-medium);
    height: 100%;
    overflow-y: auto;

    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}