.container {
    position: relative;
    box-sizing: border-box;
    background-color: var(--background200);
    border-radius: 5px;
    height: 33px;

    input {
        all: unset;
        width: 100%;
        height: 100%;
        padding: var(--padding-small);
        padding-left: 30px;
        box-sizing: border-box;
    }

    img {
        position: absolute;
        height: 13px;
        top: 50%;
        transform: translateY(-50%);
        left: var(--padding-small);
    }
}