.container {
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    padding: var(--padding-medium);
    box-sizing: border-box;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    height: 100%;
}