:host {
    width: 100%;
}

.container {
    background-color: var(--background200);
    padding: var(--padding-small);
    box-sizing: border-box;
    border-radius: 5px;
    height: 35px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.label {
    color: var(--grey100);
    margin-right: var(--padding-small);
}