.layout {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.viewport {
    position: relative;
    width: 100%;
    height: calc(100vh - var(--padding-small) * 2);
    overflow-y: auto;

    scrollbar-width: none;
    -ms-overflow-style: none;

    border-radius: 10px;

    margin: var(--padding-small);
    margin-left: 0;

    &::-webkit-scrollbar {
        display: none;
    }
}